apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ pg_pvc_name }}"
  namespace: "{{ pg_namespace }}"
spec:
  accessModes: ["ReadWriteOnce"]
  storageClassName: "{{ storage_class_name }}"
  resources:
    requests:
      storage: "{{ pg_storage_size }}"
